{% for i,j in product %}
        <div class="card">
            <div><img src="{{i.product_photo.url}}" width="150" alt=""></div>
            <div>Name :{{i.product_name}}</div>
            <div>Price :{{i.product_price}}</div>
            <div>
                {% for k in ar %} {% if k <= j %} <i class="fa-solid fa-star text-warning"></i>
                    {% else %}
                    <i class="fa-solid fa-star star-light"></i>
                    {% endif %} {% endfor %}
            </div>
            <div>
                {% if i.total_stock == 0 %}
                <span style="color: red;">Out Of Stock</span>
                {% else %}
                <a href="{% url 'User:Addcart' i.id %}" class="btn btn-primary">Add To Cart</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}