<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>user Home</title>
</head>
<body>
  <b> User</b><br>
  <a href="{% url 'User:myprofile' %}">myprofile</a><br>
  <a href="{% url 'User:feedback' %}">feedback</a><br>
  <a href="{% url 'User:complaint' %}">complaint</a><br>
  <a href="{% url 'User:viewproduct' %}">viewproduct</a><br>
  <a href="{% url 'User:Mycart' %}">Mycart</a><br>
  <a href="{% url 'User:viwedesigner' %}">viwedesigner</a><br>
  <a href="{% url 'User:myrequest' %}">myrequest</a><br>
  
</body>
</html>