
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Request</title>
</head>

<body>
    <div class="container">
        <h2>Send Request</h2>

        <form action="" method="POST">
            {% csrf_token %}
            <table class="table table-bordered table-hover"> 
                <tr>
                    <td>To Date</td>
                    <td><input type="date" name="txtdate" required></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                       <input type="submit"  name="btnsubmit" class="btn btn-primary" value="Send">
        </td>
        </tr>
            </table>
    </center>
    </form>


</body>

</html>
