
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Designers </title>
</head>
<body>
    <div class="container">
    <h2>View Designers</h2>
    <table class="table table-bordered table-hover"> 
        <tr>
            <td>SI NO</td>
            <td>Designer</td>
            <td>Action</td>
        </tr>
        {% for i in designer %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.designer_name}}</td>
            <td><a href="{% url 'User:viewwork' i.id %}" class="btn btn-primary">View Work</a></td>
        </tr>
        {% endfor %}

    </table>
   
  </div>

    
</body>
</html>
