{% extends 'Shop/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    
    <table class="table table-bordered table-hover">
        <tr>
            <td>#</td>
            <td>User Name</td>
            <td>User Contact</td>
            <td>User Address</td>
            <td>Product</td>
            <td>Photo</td>
            <td>Amount</td>
            <td>Advance Amount</td>

            <td>Date</td>
            <td>Action</td>
        </tr>
        {% for i in cart %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.booking.user.user_name}}</td>
            <td>{{i.booking.user.user_contact}}</td>
            <td>{{i.booking.user.user_address}}</td>
          
            <td>{{i.product.product_name}}</td>
            <td><img src="{{i.product.product_photo.url}}" width="100" height="100" alt=""></td>
            <td>{{i.booking.booking_totalamount}}</td>
            <td>{{i.booking.booking_adv_amount}}</td>
            <td>{{i.booking.booking_date}}</td>
           
                <td>
                    
                    {% if i.booking.booking_status == 1 and i.cart_status == 1 %}
                    <span style="color: red;">Payment Pending..</span>
                    {% elif i.booking.booking_status == 2 and i.cart_status == 2 %}
                    <span style="color: greenyellow;">Payment Completed..</span>
                    <a href="{% url 'Shop:chatpage' i.booking.user.id %}">Chat</a>
                    <a href="{% url 'Shop:bookingstatus' i.id  3 %}">Order Packed</a>
                    
                    {% elif i.booking.booking_status == 2 and i.cart_status == 3 %}
                    <a href="{% url 'Shop:bookingstatus' i.id 4 %}">Order Shipped</a>
                    <a href="{% url 'Shop:chatpage' i.booking.user.id %}">Chat</a>


                    {% elif i.booking.booking_status == 2 and i.cart_status == 4 %}
                    <a href="{% url 'Shop:bookingstatus' i.id 5 %}">Order Delivered</a>
                    <a href="{% url 'Shop:chatpage' i.booking.user.id %}">Chat</a>


                    {% elif i.booking.booking_status == 2 and i.cart_status == 5 %}
                    <span style="color: red;">Order Completed</span>
                    <a href="{% url 'Shop:chatpage' i.booking.user.id %}">Chat</a>

                   
                    {% endif %}
                </td>
                
           
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>
{% endblock content %}

