
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <table align="center" style="margin-top: 100px;">
            <tr>
                <td>Amount</td>
                <td><input type="text" name="txt_amount" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit"  class="btn btn-primary" value="Sumbit"></td>
                <td></td>
            </tr>
        </table>
    </form>
    </div>
</body>
</html>
