{% extends 'Designer/header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view Request</title>
</head>

<body>
    <div class="container">
        <h2>View Request</h2>

        <form action="" method="POST">
            {% csrf_token %}
            <table class="table table-bordered table-hover">
                <tr>
                    <td>SI No</td>
                    <td>Request Date</td>
                    <td>To Date</td>
                    <td>Work</td>
                    <td>User</td>
                    <td colspan="2">Action</td>
                    <td>Status</td>
                </tr>
                {% for i in request %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{i.designrequest_date}}</td>
                    <td>{{i.designrequest_todate}}</td>
                    <td><img src="{{i.work.work_photo.url}}"  width="50" height="50"class="img-thumbnail"></td>
                    <td>{{i.user.user_name}}</td>
                    <td colspan="2">
                        {% if i.designrequest_status == 0 %}
                        <a href="{% url 'Designer:acceptrequest' i.id %}" class="btn btn-success">Accept</a> 
                        &nbsp;
                        &nbsp;
                        <br>
                        <a href="{% url 'Designer:rejectrequest' i.id %}" class="btn btn-danger">Reject</a>
                        {% elif i.designrequest_status == 1 %}
                        <span style="color: green;">Verifed</span>
                        <a href="{% url 'Designer:chatpage' i.user.id %}" class="btn btn-danger">Chat</a>

                        {% elif i.designrequest_status == 2 %}
                        <span style="color: red;">Reject</span>

                        {% endif %}
                    
                    </td>
                    <td align="center">{{i.designrequest_status}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </form>

</body>

</html>

{% endblock content %}

