<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <center>
    <tr>
        <td><p>first Number</p></td>
        <td><input type="text" name="FirstNumber" required></td>
    </tr>
    <tr>
        <td><p> second Number</p></td>
        <td><input type="text" name="SecondNumber" required></td>
    </tr>
    <tr>
        <td> Result</td>

    <td>{{res}}</td>
</tr>
<tr>
    <td colspan="2" align="center">

    <input type="submit"  name="CHECk" value="+">
    <input type="submit"  name="CHECk" value="-">
    <input type="submit"  name="CHECk" value="*">
    <input type="submit"  name="CHECk" value="/">
</td>
</tr>
</center>
</table>
</form>
</body>
</html>