
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View complaints</title>
</head>
<body>
    <div class="container"> 
        <h2>View User Complaint</h2>

        <form action="" method="POST">
            {% csrf_token %}
            <table  class="table table-bordered table-hover"> 
                <tr>
                    <td>SI NO</td>
                    <td>Complaint Title</td>
                    <td>content</td>
                    <td>Date</td>
                    <td>User</td>
                    <td>Action</td>
                </tr>
                {% for i in usercomplaint %}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{i.complaint_title}}</td>
                    <td>{{i.complaint_description}}</td>
                    <td>{{i.complaint_date}}</td>
                    <td>{{i.user.user_name}}</td>
                    <td colspan="2"><a href="{% url 'Admin:replay' i.id %}" class="btn btn-outline-info">Replay</a>
                </tr>
                {% endfor %}
            </table>
            <h2>View Designer Complaint</h2>
            <table  class="table table-bordered table-hover"> 
                    <td>SI NO</td>
                    <td>Complaint Title</td>
                    <td>content</td>
                    <td>Date</td>
                    <td>Designer</td>
                    <td>Action</td>
                </tr>
                {% for i in designercomplaint %}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{i.complaint_title}}</td>
                    <td>{{i.complaint_description}}</td>
                    <td>{{i.complaint_date}}</td>
                    <td>{{i.desginer.designer_name}}</td>
                    <td colspan="2"><a href="{% url 'Admin:replay' i.id %}" class="btn btn-outline-info">Replay</a>
                </tr>
                {% endfor %}
            </table>
                <h2>View shop Complaint</h2>
                <table  class="table table-bordered table-hover"> 
                <tr>
                    <td>SI NO</td>
                    <td>Complaint Title</td>
                    <td>content</td>
                    <td>Date</td>
                    <td>Shop</td>
                    <td>Action</td>
                </tr>
                {% for i in shopcomplaint %}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{i.complaint_title}}</td>
                    <td>{{i.complaint_description}}</td>
                    <td>{{i.complaint_date}}</td>
                    <td>{{i.shop.shop_name}}</td>
                    <td colspan="2"><a href="{% url 'Admin:replay' i.id %}" class="btn btn-outline-info">Replay</a>
                </tr>
                {% endfor %}
            </table>
    
        </div>
    </form>
            
    
</body>
</html>
